/* NavBar.css */
* {
    font-size: 20px;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
  }

  button {
    background-color: #02d688;
    border-radius: 100px;
    border: 0;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  }

  .nav-links button:hover {
    background-color: white;
    color: black;
  }

  .left {
    gap: 20px;
  }

  .right {
    gap: 20px;
  }